accelerate
aiofiles
aiohappyeyeballs
aiohttp
aiohttp-cors
aiosignal
async-timeout
bitsandbytes
blake3
capstone
datasets
deepspeed
fastDamerauLevenshtein
flash_attn
gradio
gradio_client
huggingface-hub
intervaltree
langchain
langgraph
llamafactory
nltk
torch
openai
pyenchant
safetensors
scikit-learn
sentence-transformers
sentencepiece
tokenizers
transformers
tree-sitter
tree-sitter-cpp
uv
vllm>=0.10.1.1
